@{
    var userPublicId = Model["userPublicId"].ToString();
    var name = Model["name"].ToString();
    var firstName = Model["firstName"].ToString();
    var lastName = Model["lastName"].ToString();
    var resetPasswordToken = Model["resetPasswordToken"].ToString();
    var resetPasswordUrl = $"http://localhost:5001/api/v1/users/reset-password?userid={userPublicId}&token={resetPasswordToken}";
}

<!DOCTYPE html>

<html>
<head
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    <p>Hi @firstName @lastName (@name),</p>
    <p>We received a request to reset your password. To proceed, please click the link below:</p>
    <p>
        <a href="@resetPasswordUrl" style="background:#007bff;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px;">Reset Password</a>
    </p>
    <p>If you did not request a password reset, you can safely ignore this email.</p>
    <p>Best regards,<br/>The ConnectFlow Team</p>
</body>
</html>